In [1]:
import csv

In [44]:
import pandas as pd
f = pd.read_csv("train.csv")

In [45]:
f.head()

         ImageId  ClassId                                      EncodedPixels
0  0002cc93b.jpg        1  29102 12 29346 24 29602 24 29858 24 30114 24 3...
1  0007a71bf.jpg        3  18661 28 18863 82 19091 110 19347 110 19603 11...
2  000a4bcdd.jpg        1  37607 3 37858 8 38108 14 38359 20 38610 25 388...
3  000f6bf48.jpg        4  131973 1 132228 4 132483 6 132738 8 132993 11 ...
4  0014fce06.jpg        3  229501 11 229741 33 229981 55 230221 77 230468...

In [46]:
for i in range(len(f)):
    f["ImageId"][i] = f["ImageId"][i]+"_"+str(f["ClassId"][i])

/home/vyshak/anaconda3/envs/yedhu/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [48]:
f.rename(columns = {'ImageId':'ImageId_ClassId'}, inplace = True)

In [50]:
del f["ClassId"]

In [51]:
f.head()

   ImageId_ClassId                                      EncodedPixels
0  0002cc93b.jpg_1  29102 12 29346 24 29602 24 29858 24 30114 24 3...
1  0007a71bf.jpg_3  18661 28 18863 82 19091 110 19347 110 19603 11...
2  000a4bcdd.jpg_1  37607 3 37858 8 38108 14 38359 20 38610 25 388...
3  000f6bf48.jpg_4  131973 1 132228 4 132483 6 132738 8 132993 11 ...
4  0014fce06.jpg_3  229501 11 229741 33 229981 55 230221 77 230468...

In [52]:
f.to_csv("tysonpreprocessed.csv")

In [53]:
!ls

strain.csv	    test_images  train_images		Untitled.ipynb
submission_tta.csv  train.csv	 tysonpreprocessed.csv

In [54]:
vys = pd.read_csv("tysonpreprocessed.csv")

In [55]:
vys

,Unnamed: 0,ImageId_ClassId,EncodedPixels
0,0,0002cc93b.jpg_1,29102 12 29346 24 29602 24 29858 24 30114 24 3...
1,1,0007a71bf.jpg_3,18661 28 18863 82 19091 110 19347 110 19603 11...
2,2,000a4bcdd.jpg_1,37607 3 37858 8 38108 14 38359 20 38610 25 388...
3,3,000f6bf48.jpg_4,131973 1 132228 4 132483 6 132738 8 132993 11 ...
4,4,0014fce06.jpg_3,229501 11 229741 33 229981 55 230221 77 230468...
...,...,...,...
7090,7090,ffcf72ecf.jpg_3,121911 34 122167 101 122422 169 122678 203 122...
7091,7091,fff02e9c5.jpg_3,207523 3 207777 9 208030 15 208283 22 208537 2...
7092,7092,fffe98443.jpg_3,105929 5 106177 14 106424 24 106672 33 106923 ...
7093,7093,ffff4eaa8.jpg_3,16899 7 17155 20 17411 34 17667 47 17923 60 18...
7094,7094,ffffd67df.jpg_3,30931 43 31103 127 31275 211 31489 253 31745 2...